@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-white text-base leading-[1.5] text-dark;
  }

  .h2 {
    @apply text-5xl font-bold
  }

  .wave--animation {
    @apply relative before:content-[""] before:w-full before:h-full before:bg-white before:absolute before:rounded-full before:z-[-1] before:top-1/2 before:start-1/2 before:-translate-x-1/2 before:-translate-y-1/2;
  }
}

.wave--animation:before {
  -webkit-animation: glowing 1.5s linear infinite;
  -moz-animation: glowing 1.5s linear infinite;
  -o-animation: glowing 1.5s linear infinite;
  animation: glowing 1.5s linear infinite;
}



@-webkit-keyframes glowing {
  0% {
    height: 100%;
    width: 100%;
  }

  100% {
    height: 150%;
    width: 150%;
    opacity: 0;
  }
}

@-moz-keyframes glowing {
  0% {
    height: 100%;
    width: 100%;
  }

  100% {
    height: 150%;
    width: 150%;
    opacity: 0;
  }
}

@-o-keyframes glowing {
  0% {
    height: 100%;
    width: 100%;
  }

  100% {
    height: 150%;
    width: 150%;
    opacity: 0;
  }
}

@keyframes glowing {
  0% {
    height: 100%;
    width: 100%;
  }

  100% {
    height: 150%;
    width: 150%;
    opacity: 0;
  }
}

/* SLIDER */
.slide-equal-height .swiper-slide {
  @apply h-auto;
}

/* Header */
.header__navbar {
  @apply w-full
}

.header__navbar nav,
.header__navbar nav>div {
  @apply w-full max-w-full
}

/* HERO CAROUSEL */
.hero-carousel .swiper-pagination-bullets.swiper-pagination-horizontal {
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  @apply flex md:flex-col gap-3 lg:gap-6 md:h-full justify-center items-end bottom-[30px] md:bottom-1/2 md:translate-y-1/2 md:max-w-[100px] md:start-auto md:right-0 md:p-4
}

.hero-carousel .swiper-pagination .swiper-pagination-bullet {
  @apply bg-dark relative before:content-[''] before:absolute before:border-2 before:border-solid before:border-dark before:w-full before:h-full before:start-1/2 before:top-1/2 before:-translate-y-1/2 before:-translate-x-1/2 before:rounded-full before:transition-all before:ease-linear before:duration-150
}

.hero-carousel .swiper-pagination .swiper-pagination-bullet-active {
  @apply before:w-[calc(100%+10px)] before:h-[calc(100%+10px)]
}

.rating--list {
  @apply flex gap-1 text-sm
}

.rating--list svg {
  @apply w-[16px]
}

.default-pagination .swiper-pagination {
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-color: #374D59;
  --swiper-pagination-color: #374D59;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  @apply relative pt-3
}

.default-pagination-light .swiper-pagination {
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  @apply relative pt-3
}

.header--sticky {
  @apply fixed top-0 bg-white w-full pb-2 shadow-sm;

  -webkit-animation-name: header_animation;
  animation-name: header_animation;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: false;
  animation-delay: false;
}

@-webkit-keyframes header_animation {
  0% {
    -webkit-transform: translate3d(0, -70px, 0);
    transform: translate3d(0, -70px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes header_animation {
  0% {
    -webkit-transform: translate3d(0, -70px, 0);
    transform: translate3d(0, -70px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}